# Ignorer les dossiers node_modules
node_modules/

# Ignorer les fichiers de build
build/
dist/

# Ignorer les fichiers de log
*.log
logs/

# Ignorer les fichiers de configuration de l'éditeur
.vscode/
.idea/

# Ignorer les fichiers de cache
*.cache
